#body {
    .el-menu--horizontal {
        .el-menu-item {
            color: rgba(255, 255, 255, 0.6);
            &.is-active {
                border-bottom: 2px solid #0d87b8;
                color: #fff;
                i {
                    color: #fff;
                }
            }
            &:hover,
            &:focus {
                background-color: transparent;
                color: #fff;
                i {
                    color: #fff;
                }
            }
            i {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

.sidebar-menu {
    .el-menu-item {
        color: #2b2b2b;
        &.is-active {
            background-color: transparent;
            font-weight: bolder;
            color: #4091ff;
            i {
                color: #4091ff;
            }
            &:focus {
                background-color: transparent;
            }
        }
        &:hover,
        &:focus {
            font-weight: bolder;
            background-color: #e7e7e7;
        }
        i {
            color: #212121;
        }
    }
    .el-submenu {
        .el-submenu__title {
            i {
                color: #212121;
                &.el-submenu__icon-arrow {
                    color: #878787;
                }
            }
            &:hover,
            &:focus {
                background-color: #e7e7e7;
            }
        }
        .el-menu {
            .el-menu-item {
                color: #878787;
                i {
                    color: #878787;
                }
                &.is-active {
                    color: #4091ff;
                    i {
                        color: #4091ff;
                    }
                }
            }
        }
    }
    .is-active {
        &>.el-submenu__title {
            font-weight: bolder;
        }
    }
}