#body {
  .special-table > .el-table {
    min-height: 300px !important;
  }
  .el-table tr {
      height: 36px !important;
      overflow: hidden !important;
  }
  .el-table .el-button--mini,
  .el-table .el-button--mini.is-round {
      padding: 0;
  }
  .el-table.el-table--mini {
      // min-height: 353px;
  }
  .el-table--mini th,
  .el-table--mini td {
      padding: 0;
      height: 32px;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td {
      background: #fbfbfb;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
  .el-table__body tr.current-row>td {
      background-color: rgb(230, 242, 251);
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: #f5f5f5;
  }
  .el-table thead td,
  .el-table thead th.is-leaf {
      border-bottom: 2px solid #ebeef5;
      background-color: #f5f7fa;
  }
  .el-table--border td,
  .el-table--border th {
      border-right: 1px solid rgba(243, 243, 243, 0.8);
  }
  .el-table--border .has-gutter th:nth-last-of-type(2) {
      border-right: 1px solid rgba(243, 243, 243, 0.8);
  }
  .el-table thead {
      color: #505050;
      font-weight: 500;
  }
  .el-table--mini,
  .el-table--small,
  .el-table__expand-icon,
  .el-button--mini,
  .el-button--small {
      font-size: 14px;
  }
  .el-button--mini,
  .el-button--mini.is-round {
      padding: 4px 12px;
  }
  #innerTable .el-table .el-table__body-wrapper {
      overflow-x: hidden !important;
  }
  .expand-table {
    &.el-table--scrollable-y .el-table__body-wrapper {
      overflow: inherit;
    }
    &.el-table--scrollable-x .el-table__body-wrapper {
      overflow: inherit;
    }
  }
}